*.exe
packman/lib-mingw/*
packman/bin/*
packman/obj/*
*.lnk
packman/sdl/*
packman/include/*
*.dll
packman/glad.c
packman/hazi1.*
*.wav
*.a
*.la
*.pc
packman/Bubi_Sounds/mixer/include/SDL2/SDL_mixer.h
